<div class="container-fluid mt-4 section-two">
  <div class="row">
      <!-- <img [src]=leaf2 class="img-leaf2  col-2"> -->

      <div class="col-10 mt-4">
          <div class="row ">
            <!-- <div class="card col-4" style="margin-bottom: 10px;" *ngFor="let item of carts"> -->
              <div class="col-3 offset-1" *ngFor="let item of carts" >
                 <div class="card" data-aos="fade-down-right" data-aos-easing="ease-in-out" data-aos-duration="1800">
                     <div class="in-card ">
                         <!-- <img [src] = foodone class="pic-food"> -->
                     </div>
                     <div class="details">
                      <!-- <input type="checkbox" [value]="item.menuName" #myCheckbox> -->

                              <p class="orange">Meal:{{item.menuname}}</p>
                              <p class="price"> count: {{item.count}} </p>
                              <p class="price"> price: {{item.price}} </p>
                              <input type="number" value=1 #c required class="col-10 offset-1">
                              <button class="btn-cart col-10 offset-1" type="submit" (click)="EditCount(item._id,c.value)">Change Quantity </button>

                              <button class="btn-cart col-10 offset-1" type="submit" (click)="deleteCart(item._id)">Delete <img src="https://img.icons8.com/material-rounded/24/000000/delete-forever.png"/></button>


                     </div>
                 </div>
              </div>

            </div>

              </div>


          </div>

          <h2   style="color:rgb(255, 174, 0);font-family:courier;"> total price = {{ total_price }}<img src="https://img.icons8.com/metro/52/000000/euro-pound-exchange.png"/></h2>
      </div>
      <button (click)="makeOrder()" [disabled]="(carts.length==0)? true:false"
      mat-button class="btn offset-4 col-4 mb-4"><span>Check Out <img src="https://img.icons8.com/emoji/48/000000/check-box-with-check-emoji.png"/></span></button>
      <!-- <button type="button"

  [disabled]="!(carts)? true:false"
  mat-button>Button</button> -->

  <!-- </div> -->

<!-- <div class="row">
  <div class="card col-4" style="margin-bottom: 10px;" *ngFor="let item of carts"> -->
    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
<!-- <div class="card-body">
     <ul class="list-group list-group-flush"> -->
      <!-- <li class="list-group-item">User id:{{item.userid}}</li>
      <li class="list-group-item">menu id:{{item.Menuid}}</li> -->
      <!-- <li class="list-group-item">Meal:{{item.menuName}}</li> -->
      <!-- <li class="list-group-item">
        <input type="checkbox" id="meal" name="vehicle1" value={{item.Menuid}}>
        <label for="vehicle1"> Meal:{{item.menuName}}</label><br>

      </li>

      <li class="list-group-item">count:{{item.count}}</li>


      <li class="list-group-item">
        <button class="btn btn-primary" type="submit" (click)="deleteCart(item._id)">delete</button>
      </li>
      <li class="list-group-item">
        <input type="number" value=1 #c required>
      </li>
      <li class="list-group-item">
        <button class="btn btn-primary" type="submit" (click)="EditCount(item._id,c.value)">change the count</button>
      </li>

    </ul>
  </div>
  </div>
</div>

 -->
