<div class="container-fluid firstsection">
   
    <div class="row">
        <div class="col-12 title">About Us </div>
        <p class="par col-6">every thing you need you will find it ,years of  experience in that feild 
           you gonna try it once and you will never stop , stay healthy and fit ...
              
        </p>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4 col-12 offset-1 " data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="800">
         <p class="par-side "> we  make organic food in market</p>
         <p class="par2">every thing you need you will find it ,years of  experience in that feild 
            you gonna try it once and you will never stop , stay healthy and fit ...</p>
            <p class="par2">every thing you need you will find it ,years of  experience in that feild 
                you gonna try it once and you will never stop , stay healthy and fit ...</p>
        </div>
        <div class="col-lg-3 col-md-6 col-12 mb-2" data-aos="zoom-out-left" data-aos-easing="ease-in-out" data-aos-duration="1800">
            <img [src] = pic1> 
        </div>

        <div class="col-lg-3 col-md-6 col-12 mb-2" data-aos="zoom-out-right" data-aos-easing="ease-in-out" data-aos-duration="1800">
            <img [src] = pic2> 
      </div>
      
    </div>
</div>

<div class="container-fluid firstsection mt-4 mb-4">
    <div class="row">
        <div class="col-12 ">
            <p class="title">Our Team</p>
            <p class="par col-6 ">we have a perfect team  , qualifed  team 
                ,years of  experience in that feild 
                you gonna try it once and you will never stop , stay healthy and fit ...
                   
             </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-12 mb-2 text-center"  data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1800" >
           <div class="div-chef">
               <img [src]=chef1 >
               <p>kiru zad </p>
               <span>american chef</span>
           </div>
        </div>
        <div class="col-lg-4 col-12 mb-2 text-center" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1500">
            <div class="div-chef">
                <img [src]=chef2 >
                <p>lolo do</p>
                <span>french chef</span>
            </div>
        </div>
        <div class="col-lg-4 col-12 mb-2 text-center" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1200"    >
            <div class="div-chef">
                <img [src]=chef3 >
                <p>jiko lor</p>
                <span>italian chef</span>
            </div>
        </div>
    </div>
</div>

