<footer data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="800" >
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-6 pr-lg-5" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1800">
          <div class="left-content">
            <img [src]=logofooter>
            <p>
              Subscribe to our newsletter and get 10% off your <br />
              first purchase.
            </p>
            <ul class="info-share social-icone d-inline list-inline text-center">
              <li class="list-inline-item">
                <a href="#"> <i class="fab fa-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="#"><i class="fab fa-google"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1500" >
          <div class="link-content">
            <h5>Link</h5>
            <ul class="list-unstyled">
              <ul class="list-unstyled">
                <li>
                  <a class="" href="#"><i class="fas fa-angle-double-right"></i>My Account</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-angle-double-right"></i>Check Out</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-angle-double-right"></i>Whish List</a>
                </li>
                <li>
                  <a href="#"><i class="fas fa-angle-double-right"></i>Shopping Card</a>
                </li>
              </ul>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 mt-lg-0 mt-4" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1200" >
          <div class="link-content">
            <h5>Information</h5>
            <ul class="list-unstyled">
              <li>
                <a href="#"><i class="fas fa-angle-double-right"></i>About Us</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-angle-double-right"></i>Our Team</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-angle-double-right"></i>Contact Us</a>
              </li>
              <li>
                <a href="#"><i class="fas fa-angle-double-right"></i>Blog</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 mt-lg-0 mt-4" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000" >
          <div class="contact">
            <h5>Quick Contact</h5>
            <ul>
              <li>
                <a>
                  <i class="fa fa-home hvr-shutter-out-vertical"></i>
                  <span>Egypt, tanta, 13st</span>
                </a>
              </li>
              <li>
                <a href="foodsto@gmail.com">
                  <i class="fa fa-envelope"></i>
                  <span>foodsto@gmail.com</span>
                </a>
              </li>
              <li>
                <a href="tel:+201066181942">
                  <i class="fa fa-phone"></i><span>+201066156569</span>
                  
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>