<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#">
    <img [src]=logo>
</a>

    <button class="navbar-toggler" type="button"
            (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse"
         [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActiveOptions]='{ exact:true}' routerLinkActive="text-warning" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="text-warning"  routerLink="/profile/1">profile</a>
        </li>

          <li class="nav-item">
            <a class="nav-link" routerLinkActive="text-warning" routerLink="/menu">Menu</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="text-warning"  *ngIf="isadmin" routerLink="/menuA">Menu Admin</a>
          </li> -->

          <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="text-warning" routerLink="/order">Order</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLinkActive="text-warning" routerLink="/orderA" >Order Admin</a>
          </li> -->





          <li class="nav-item">
            <a class="nav-link" routerLinkActive="text-warning" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="text-warning" routerLink="/cart"><i class="fas fa-cart-plus"></i></a>
          </li>
          <ul class="navbar-nav" style="margin-left: 100px;">
            <a class="nav-link" routerLinkActive="text-warning" routerLink="/register">sign up <img src="https://img.icons8.com/android/24/000000/add-user-male.png"/></a>
            <!-- <a class="nav-link" routerLinkActive="text-warning" *ngIf='token' routerLink="/login">Login</a> -->
            <a class="nav-link" routerLinkActive="text-warning" *ngIf='token' routerLink="/login">Login</a>

            <!-- <a class="nav-link" routerLinkActive="text-warning" routerLink="/logout">Logout</a> -->

          </ul>

      </ul>
    </div>
  </nav>
