<!-- <h1>Text changer</h1>
<p>{{mymodel}}</p>
<input type="text" [value]="mymodel" (keyup)="valuechange($event)" /> -->




<!-- task3 -->



<table>

    <div *ngFor="let tab of tabs" class="styled-table">
        <tr>
            <th>Title:</th>
            <td>{{tab.title}}</td>
        </tr>
        <tr>
            <th>Feed:</th>
            <td>{{tab.feed}}</td>
        </tr>
        <tr>
            <th>Telephone:</th>
            <td>{{tab.Telephone}}</td>
        </tr>
    </div>
</table>