
<div class="container">
    <div class="row">
      <div class="col-12 align-self-start">
        <app-header></app-header>
        <!-- <app-login></app-login> -->
        </div>
        <div class="col-12 align-self-start">
          <!-- <app-menu></app-menu> -->

          <router-outlet></router-outlet>
          </div>

  <!-- </div> -->
     <div class="col align-self-center">

        <!-- <app-register (studentReg)="studentfun($event)"></app-register> -->
    </div>
    <!-- <div class="col-12 align-self-start">
        <app-users [studentsLists]="students"></app-users>
    </div> -->
    <!-- </div>
    <div class="col align-self-center">
      <app-users [studentsLists]="students"></app-users> -->

      <!-- <app-table [list]="students" [Headers]="['Name','Email','City','Age']"></app-table> -->
    <!-- </div>

    </div> -->

<!-- <app-second (fun_search)="filtersearch($event)"></app-second>
<app-first [tabs]="flist"></app-first>  -->


