
.btn-primary{
  background-color: #3bb77e;
  border: 1px solid #3bb77e;
  color: #fff;
}
.btn-outline-secondary{
  background-color: #ffba43;
  border: 1px solid #ffba43;
  color: #fff;
}
.card-text{
  color: #1c2137;
}
.fa-heart {
  color: palevioletred;
  cursor: pointer;
  float: right;
}
.btn {
  padding: 8px 15px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  left:-17px;
  z-index: 3;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  background: #04a359;
  border-color: #04a359;
  outline: none;
  outline-style: none;
  color: #fff;
  text-decoration: none;
  width: 100%;
  margin-top: 13px;
  margin-left: 17px;

}

.btn span {
  text-transform: uppercase;
  position: relative;
  z-index: 6;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.btn:before,
.btn:after {
  content: "";
  width: 0;
  height: 100%;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
  z-index: 1;
  opacity: 0.4;
}

.btn:after {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  background: #ffffff;
  opacity: 1;
}

.btn:hover:before,
.btn:hover:after {
  width: 100%;
}

.btn:hover:after {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.btn:hover {
  color: #04a359;
}
.btn:hover span {
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  color: #04a359;
}
.btn span:hover {
  color: #04a359;
}
.price{
  font-size: 20px;
  font-weight: bold;
  color: #1c2137;
}
.card{
  padding: 10px;
}
.details input{
  border-radius: 5px;
  width: 100%;


}
